body {
    font-family: Arial, sans-serif;
}

table {
    width: 800px;
    border: 4px solid black;
    box-sizing: border-box;
    border-spacing: 0;
    empty-cells: show;
}

th, td {
    border: 4px solid black;
}

.vert-text {
    writing-mode: vertical-lr;
    transform: rotate(-180deg);
}

.vertical {
    width: 20px;
    padding: 6px;
}